html{
  font-size: 12px;

}
header{
  background-color: #1d7ad9;
  padding: 0rem 10%;
}
header a{
  color: white;
}
header div{
  display: inline-block;
}
header .pullRight{
  float: right;
}
header .register{
  background-color: white;
}
header .register a{
  color: black;
}
.banner{
  width: 100%;
  height: 4rem;
  margin: 0;
  background-color: #f3f3f3;
}
@media (max-width:457px) {
  .banner{
    height: 7rem;
  }
}
.navbar{
  padding-right: 10%;
}
.navbar li{
  width:6rem;
  text-align: center;
  background-color: white;
  margin: .25rem 1rem;
  border-radius: 5px;
}
.navbar a:link, a:visited{
  color: black;
}
.progressBar{
  float: right;
  width: 70%;
  height: 4rem;
  padding-right: 10%;
  margin-bottom: 2rem;
  margin-top: 1rem;
}
.progressBar a{
  float: left;
  width: 10px;
}
.proressBox{
  color: white;
  float: left;
  width: 25%;
  height: 5px;
  background-color: #cccccc;
  margin: 1rem 0;
  text-align: center;
}
.currentProgress{
  background-color: #ff7f02 !important;
}
.proressBox .numbers{
  background-color:#cccccc;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -.5rem;
}
.proressBox .step{
  color: #cccccc;
}
.currentStep{
  color:  #ff7f02 !important;
}
.container{
  border: 1px solid #e7e7e7;
}
.container .btn-group{
  padding: .3rem;
  border: 1px solid #e8e8e8;
}
.container .backgroundWhite{
  background-color: white;
}
.explain{
  border: none;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.explain div{
  border-left: 3px solid #1d7ad9;
  line-height: 0;
}
.col-sm-3, .col-sm-2{
  white-space: nowrap;
}
.wrap{
  min-width: 116px;
}
@media (min-width: 577px){
  .colh-sm-3 table{
    height: 6rem;
  }
}

.number{
  width:70%;
}
.title{
  background-color: #f3f3f3 !important;
  border-top: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
p{
  margin: 0;
  padding: .5rem;
}
main .row{
  padding: .5rem;
  background-color: #fbfcff;
  margin-bottom: 0;
  margin-top: 0;
}
/* div{
  margin:0.1rem;
} */
.borderBottom{
  border-bottom: 1px solid #e7e7e7;
}
.next{
  width: 100%;
  height: 10rem;
  text-align: center;
}
.nextbtn{
  height: 2rem;
  background-color: #e15053;
  width: 5rem;
  text-align: center;
  line-height: 2rem;
  border-radius: 5px;
  position: relative;
  top: 40%;
  border: none;
}
a{
  text-decoration: none;
}
footer{
  background-color: #f9f9f9;
  margin-top: 2rem;
  overflow: hidden;
}
.footerContainer{
  padding:2rem 0 0 0;
  border: 0;
}
.footerContainer .footer{
  background-color: transparent;
}
footer span, footer a:link, footer a:visited {
  color: #999999;
  font-size: .7rem;
}
footer .copyright{
  background-color: #1d7ad9;
}
.copyright span{
  color: white;
  width: 100%;
  display: block;
  text-align: center;
}
